@if (isLoading()) {
  <div
    class="flex w-full items-center justify-center gap-x-4 rounded-2xl border border-gray-200 bg-white p-5 shadow-sm dark:border-white/10 dark:bg-neutral-900 dark:shadow-none"
  >
    <div class="animate-pulse text-gray-500 dark:text-neutral-400">
      <svg class="size-6 animate-spin" viewBox="0 0 24 24" fill="none">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
        />
      </svg>
    </div>
  </div>
} @else {
  <mat-list role="list">
    @for (track of tracks(); track track.id) {
      <mat-list-item role="listitem">
        <a href="{{track.href}}" target="_blank">
        <div
          class="flex w-full items-center gap-x-4 rounded-2xl border border-gray-200 bg-white p-5 shadow-sm mb-3 dark:border-white/10 dark:bg-neutral-900 dark:shadow-none"
        >
          <div class="flex w-full items-start justify-between">
            <div>
              <div class="text-xl font-medium text-gray-900 dark:text-white">
                {{ track.trackTitle }}
              </div>
              <p class="text-gray-500 dark:text-neutral-400">{{ track.artists | artistList }}</p>
            </div>
            <span class="text-gray-400 dark:text-neutral-500 text-sm shrink-0 ml-4">
              {{ track.durationMs | msDuration }}
            </span>
          </div>
        </div>
        </a>
      </mat-list-item>
    } @empty {
      <div
        class="flex w-full items-center gap-x-4 rounded-2xl border border-gray-200 bg-white p-5 shadow-sm dark:border-white/10 dark:bg-neutral-900 dark:shadow-none"
      >
        <p class="text-gray-500 dark:text-neutral-400">No values</p>
      </div>
    }
  </mat-list>
}
